.contactItem{
    display: flex;
    justify-content: space-between;
}


.email, .number {
    font-weight: 400;
    text-decoration: none;
    margin-left: 5px;
    
}
.contactItem:not(:last-child){
    margin-bottom: 10px;
}

.name{
    font-weight: 500;
}
.button {
    
    display: flex;
    align-items: center;
}
.isFavorite{
    fill: #1212dc
}
.button:hover .isFavorite {
    fill: #ffffff
}
.contactWrap{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    font-size: 14px;
}
.buttonWrap{
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 10px;
}
.innerButtonWrap{
    display: flex;
    gap: 5px;
}